.title{
  text-align: center;
}
.list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.col-header{
  font-weight: bold;
  color: rgb(54, 105, 88);
}
.list-item {
  display: flex;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  width: 70%;
  justify-content: space-between;
}
.list-item p{
  width: 33%;
  display: flex;
  justify-content: center;
}
.normal-cursor{
  cursor: default;
}
.list-item.selected {
  background-color: #ccc;
}
.action-buttons {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.action-buttons button {
  margin-right: 10px;
  padding: 10px 15px;
  width: 100px;
  border: none;
  background-color: aquamarine;
  font-weight: bold;
  color: rgb(2, 62, 42);
  border-radius: 5px;
}
.action-buttons button:hover {
  cursor: pointer;
  background-color: rgb(54, 105, 88);
  color: white;
  transition: 0.3s;
}